In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine, inspect

# Import pandas
import pandas as pd

In [2]:
realestate=pd.read_csv("realestate_prices_word_county_removed.csv",encoding="latin-1")

In [3]:
realestate.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,1996-06,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,113.0,113.0,113.0,...,422,423,425,427,428,428,428,427,426,425
1,139,Cook,IL,Chicago-Naperville-Elgin,17,31,2,104.0,105.0,105.0,...,166,166,166,167,168,168,169,170,169,168
2,1090,Harris,TX,Houston-The Woodlands-Sugar Land,48,201,3,51.0,51.0,51.0,...,98,98,98,99,99,100,101,101,100,100
3,2402,Maricopa,AZ,Phoenix-Mesa-Scottsdale,4,13,4,62.0,62.0,62.0,...,154,155,156,157,158,159,160,160,160,161
4,2841,San Diego,CA,San Diego-Carlsbad,6,73,5,104.0,104.0,104.0,...,371,372,374,375,375,375,374,374,374,374

In [4]:
realestate['2000']=realestate[['2000-01','2000-02','2000-03','2000-04','2000-05','2000-06','2000-07','2000-08','2000-09','2000-10','2000-11','2000-12']].mean(axis=1)

In [5]:
realestate['2001']=realestate[['2001-01','2001-02','2001-03','2001-04','2001-05','2001-06','2001-07','2001-08','2001-09','2001-10','2001-11','2001-12']].mean(axis=1)

In [6]:
realestate['2002']=realestate[['2002-01','2002-02','2002-03','2002-04','2002-05','2002-06','2002-07','2002-08','2002-09','2002-10','2002-11','2002-12']].mean(axis=1)

In [7]:
realestate['2003']=realestate[['2003-01','2003-02','2003-03','2003-04','2003-05','2003-06','2003-07','2003-08','2003-09','2003-10','2003-11','2003-12']].mean(axis=1)

In [8]:
realestate['2004']=realestate[['2004-01','2004-02','2004-03','2004-04','2004-05','2004-06','2004-07','2004-08','2004-09','2004-10','2004-11','2004-12']].mean(axis=1)

In [9]:
realestate['2005']=realestate[['2005-01','2005-02','2005-03','2005-04','2005-05','2005-06','2005-07','2005-08','2005-09','2005-10','2005-11','2005-12']].mean(axis=1)

In [10]:
realestate['2006']=realestate[['2006-01','2006-02','2006-03','2006-04','2006-05','2006-06','2006-07','2006-08','2006-09','2006-10','2006-11','2006-12']].mean(axis=1)

In [11]:
realestate['2007']=realestate[['2007-01','2007-02','2007-03','2007-04','2007-05','2007-06','2007-07','2007-08','2007-09','2007-10','2007-11','2007-12']].mean(axis=1)

In [12]:
realestate['2008']=realestate[['2008-01','2008-02','2008-03','2008-04','2008-05','2008-06','2008-07','2008-08','2008-09','2008-10','2008-11','2008-12']].mean(axis=1)

In [13]:
realestate['2009']=realestate[['2009-01','2009-02','2009-03','2009-04','2009-05','2009-06','2009-07','2009-08','2009-09','2009-10','2009-11','2009-12']].mean(axis=1)

In [14]:
realestate['2010']=realestate[['2010-01','2010-02','2010-03','2010-04','2010-05','2010-06','2010-07','2010-08','2010-09','2010-10','2010-11','2010-12']].mean(axis=1)

In [15]:
realestate['2011']=realestate[['2011-01','2011-02','2011-03','2011-04','2011-05','2011-06','2011-07','2011-08','2011-09','2011-10','2011-11','2011-12']].mean(axis=1)

In [16]:
realestate['2012']=realestate[['2012-01','2012-02','2012-03','2012-04','2012-05','2012-06','2012-07','2012-08','2012-09','2012-10','2012-11','2012-12']].mean(axis=1)

In [17]:
realestate['2013']=realestate[['2013-01','2013-02','2013-03','2013-04','2013-05','2013-06','2013-07','2013-08','2013-09','2013-10','2013-11','2013-12']].mean(axis=1)

In [18]:
realestate['2014']=realestate[['2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']].mean(axis=1)

In [19]:
realestate['2015']=realestate[['2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12']].mean(axis=1)

In [20]:
realestate['2016']=realestate[['2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12']].mean(axis=1)

In [21]:
realestate['2017']=realestate[['2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12']].mean(axis=1)

In [22]:
realestate['2018']=realestate[['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12']].mean(axis=1)

In [23]:
new_df=realestate[[
                  'RegionName',
                'State',
                  '2000',
                  '2001',
                  '2002',
                  '2003',
                  '2004',
                  '2005',
                  '2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',
                  '2016',
                  '2017',
                  '2018']].copy()
new_df.head()

,RegionName,State,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Los Angeles,CA,146.166667,161.500000,186.416667,226.083333,290.000000,353.000000,394.333333,378.833333,...,268.166667,261.000000,247.916667,246.916667,285.000000,316.750000,339.250000,364.000000,392.833333,420.583333
1,Cook,IL,121.500000,131.250000,142.333333,155.416667,170.833333,190.083333,204.666667,204.583333,...,159.250000,144.250000,129.416667,121.250000,128.083333,137.916667,144.166667,150.833333,157.000000,165.333333
2,Harris,TX,60.166667,59.166667,60.750000,62.750000,66.833333,69.833333,71.166667,73.500000,...,69.166667,67.916667,66.000000,65.333333,67.750000,72.833333,79.916667,86.250000,91.166667,97.000000
3,Maricopa,AZ,79.000000,83.833333,88.250000,93.083333,103.500000,142.333333,168.416667,158.083333,...,100.166667,87.833333,78.916667,87.416667,105.583333,115.250000,122.166667,131.333333,140.583333,152.750000
4,San Diego,CA,150.666667,173.000000,202.166667,242.250000,306.750000,341.833333,337.333333,313.166667,...,230.000000,228.333333,216.083333,217.000000,253.416667,281.083333,298.166667,319.916667,345.000000,369.500000

In [24]:
new_df = pd.melt(new_df, 
        id_vars=['RegionName','State'], 
        value_vars=['2000', '2001',"2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013",
                    "2014","2015","2016","2017","2018"])

In [25]:
new_df = new_df.rename(columns={
    'RegionName':"County",
    "variable":"Year",
    "value":"Price"
})
new_df

               County State  Year       Price
0         Los Angeles    CA  2000  146.166667
1                Cook    IL  2000  121.500000
2              Harris    TX  2000   60.166667
3            Maricopa    AZ  2000   79.000000
4           San Diego    CA  2000  150.666667
5              Orange    CA  2000  166.000000
6               Kings    NY  2000  171.500000
7          Miami-Dade    FL  2000   77.333333
8              Dallas    TX  2000   63.416667
9              Queens    NY  2000  171.250000
10          Riverside    CA  2000   88.833333
11     San Bernardino    CA  2000   83.333333
12              Clark    NV  2000   83.666667
13               King    WA  2000  141.166667
14              Wayne    MI  2000   82.333333
15            Tarrant    TX  2000   64.333333
16        Santa Clara    CA  2000  302.333333
17            Broward    FL  2000   78.500000
18              Bexar    TX  2000   58.250000
19           New York    NY  2000         NaN
20       Philadelphia    PA  2000   41.666667
21            Alameda    CA  2000  228.916667
22          Middlesex    MA  2000  164.250000
23            Suffolk    NY  2000  150.166667
24         Sacramento    CA  2000   97.583333
25              Bronx    NY  2000  107.333333
26             Nassau    NY  2000  168.583333
27         Palm Beach    FL  2000   77.166667
28           Cuyahoga    OH  2000   80.833333
29       Hillsborough    FL  2000   60.166667
...               ...   ...   ...         ...
32878            Hall    TX  2018   24.583333
32879            Real    TX  2018   64.000000
32880         Woodson    KS  2018   35.416667
32881            Rush    KS  2018   37.833333
32882         Lincoln    KS  2018   36.416667
32883          Morton    KS  2018   70.416667
32884         Cochran    TX  2018   47.416667
32885            Ness    KS  2018   47.583333
32886         Granite    MT  2018  156.583333
32887          Jewell    KS  2018   32.500000
32888         Edwards    KS  2018   32.583333
32889           Trego    KS  2018   54.416667
32890         Decatur    KS  2018   48.583333
32891          Fallon    MT  2018  140.666667
32892             Elk    KS  2018   27.500000
32893           Chase    KS  2018   44.416667
32894            Gove    KS  2018   51.416667
32895        Hamilton    KS  2018   74.500000
32896          Graham    KS  2018   46.583333
32897           Kiowa    KS  2018   60.333333
32898         Dickens    TX  2018   29.500000
32899           Clark    KS  2018   38.416667
32900    Judith Basin    MT  2018  121.916667
32901        Hodgeman    KS  2018   52.416667
32902       Armstrong    TX  2018   50.500000
32903        Comanche    KS  2018   29.416667
32904         Daniels    MT  2018  118.500000
32905            Lane    KS  2018   45.500000
32906         Prairie    MT  2018  105.416667
32907         Daggett    UT  2018  199.500000

[32908 rows x 4 columns]

In [26]:
new_df = new_df.loc[new_df["State"].isin(["DC","MD","VA","WA"])]
filtered_df = new_df.loc[new_df["County"].isin([
'Montgomery',
'Prince Georges',
'District of Columbia',
'Arlington',
'Frederick',
'Charles',
'Clarke',
'Culpeper',
'Fairfax County',
'Fairfax City',
'Falls Church City',
'Fauquier',
'Calvert',
'Fredericksburg City',
'Jefferson',
'Loudoun',
'Manassas Park City',
'Prince William',
'Spotsylvania',
'Stafford',
'Warren',
"Alexandria"])]
filtered_df

                     County State  Year       Price
35           Fairfax County    VA  2000  134.000000
41               Montgomery    MD  2000  126.916667
58           Prince Georges    MD  2000   91.833333
104    District of Columbia    DC  2000  128.833333
164          Prince William    VA  2000   98.083333
201                 Loudoun    VA  2000  115.416667
270               Frederick    MD  2000   94.250000
290               Arlington    VA  2000  173.500000
405                 Charles    MD  2000   84.500000
454                Stafford    VA  2000   81.666667
469            Spotsylvania    VA  2000   77.666667
563              Montgomery    VA  2000   72.333333
587                 Calvert    MD  2000   98.166667
626               Frederick    VA  2000   74.250000
714                Fauquier    VA  2000   97.416667
884                Culpeper    VA  2000   76.250000
1019                 Warren    VA  2000   92.666667
1138              Jefferson    WA  2000  105.000000
1253    Fredericksburg City    VA  2000   67.666667
1290           Fairfax City    VA  2000  121.250000
1491     Manassas Park City    VA  2000         NaN
1498                 Clarke    VA  2000   85.583333
1533      Falls Church City    VA  2000  152.666667
1767         Fairfax County    VA  2001  156.416667
1773             Montgomery    MD  2001  143.916667
1790         Prince Georges    MD  2001   97.500000
1836   District of Columbia    DC  2001  151.750000
1896         Prince William    VA  2001  113.583333
1933                Loudoun    VA  2001  135.250000
2002              Frederick    MD  2001  102.416667
...                     ...   ...   ...         ...
30463                Warren    VA  2017  147.750000
30582             Jefferson    WA  2017  218.666667
30697   Fredericksburg City    VA  2017  139.083333
30734          Fairfax City    VA  2017  274.916667
30935    Manassas Park City    VA  2017  185.583333
30942                Clarke    VA  2017  162.083333
30977     Falls Church City    VA  2017  410.750000
31211        Fairfax County    VA  2018  297.333333
31217            Montgomery    MD  2018  270.583333
31234        Prince Georges    MD  2018  184.000000
31280  District of Columbia    DC  2018  504.750000
31340        Prince William    VA  2018  201.166667
31377               Loudoun    VA  2018  226.583333
31446             Frederick    MD  2018  177.833333
31466             Arlington    VA  2018  469.000000
31581               Charles    MD  2018  154.416667
31630              Stafford    VA  2018  164.750000
31645          Spotsylvania    VA  2018  154.083333
31739            Montgomery    VA  2018  119.583333
31763               Calvert    MD  2018  185.250000
31802             Frederick    VA  2018  144.583333
31890              Fauquier    VA  2018  194.583333
32060              Culpeper    VA  2018  146.500000
32195                Warren    VA  2018  153.416667
32314             Jefferson    WA  2018  233.750000
32429   Fredericksburg City    VA  2018  143.333333
32466          Fairfax City    VA  2018  279.583333
32667    Manassas Park City    VA  2018  194.083333
32674                Clarke    VA  2018  169.083333
32709     Falls Church City    VA  2018  419.750000

[437 rows x 4 columns]

In [9]:
years = ["2011","2012","2013",
                    "2014","2015","2016","2017","2018"]
print(years)

['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [37]:
import requests
import json


for year in years:
    print(year)
#     query_url = "https://raw.githubusercontent.com/emreynolds9/Project-2/master/Data_cleaning/va_counties.geojson"
#     response = requests.get(query_url).json()
    with open("keeping_counties.geojson") as json_file:
        data = json.load(json_file)
    for countyelem in data["features"]:
            county=countyelem["properties"]["County"]
            state = countyelem["properties"]["State"]
#             print(county)
            with open('rental.json') as json_file:
                rental_data = json.load(json_file)
                for d in rental_data:
                    if ((d["County"]==county)&(d["State"]==state)):
                        countyelem["properties"]["RENTAL_PRICE"]=d[year]
#                         print(d[year])
            with open('pricespersqft.json') as json_file:
                value_data = json.load(json_file)
                for d in value_data:
                    if ((d["County"]==county)&(d["State"]==state)):
                        countyelem["properties"]["HOME_VALUE"] = d[year]
    with open(f'../Resources/{year}.geojson', 'w') as outfile:
#         print(data)
        json.dump(data, outfile)

2011
2012
2013
2014
2015
2016
2017
2018

In [15]:
import json

with open("keeping_counties.geojson") as json_file:
    data = json.load(json_file)
    for d in data:
        print(d)

type
features